@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixins border-style($style) {
  border-style: $style;
}

@mixins border-width($width) {
  border-width: $width;
}

.box { @include border-radius(10px); }
.box { @include border-style(solid); }
.box { @include border-width(medium); }
